*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 2.6rem;
    text-align:center;
}
button{
    margin: 6px 0px;
    padding: 6px 8px;
    overflow-wrap: normal;
    cursor: pointer;
}
p{
    margin: 2px 0;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}
.reviewpanel{
    text-align: center;
    margin:10px;
    padding: 6vh 2vw;
    height:57%;
    width: 20%;
    border-radius: 10px;    
    background-color:antiquewhite;
}
img{
    height: 20vh;
    width: 20vh;
    border-radius: 500px;
    margin: 0 auto;
}
